*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}

header{
  height:200px;
  background-color: yellow;
}

main{
  margin:10px 0;
}

main::after{
  content: "";
  display: block;
  clear: both;

}

.box1{

}
